<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Q and A</title>
  <%= csrf_meta_tags %>
  <%#= stylesheet_link_tag 'questions', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag 'questions', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'questions', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <%= yield %>
</body>
</html>
